/*------------------------------------*\
  Shared utility classes
\*------------------------------------*/

/* Max-width container */
.container {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
}

/* Responsive grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}

/* Stack clickable elements horizontally with a space */
.buttons-row {
  display: flex;
  margin: 1rem 0;
  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
